<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script xmlns:th="http://www.thymeleaf.org" type="text/javascript" th:src="@{/clientStyle/lib/jquery/jquery.slim.min.js}"></script>
<script xmlns:th="http://www.thymeleaf.org" type="text/javascript" th:src="@{/clientStyle/lib/popper.js/popper.min.js}"></script>
<script xmlns:th="http://www.thymeleaf.org" type="text/javascript" th:src="@{/clientStyle/lib/bootstrap/bootstrap.min.js}"></script>
<script xmlns:th="http://www.thymeleaf.org" type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
<script xmlns:th="http://www.thymeleaf.org" type="text/javascript" th:src="@{https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js}"></script>
<script xmlns:th="http://www.thymeleaf.org" type="text/javascript" th:src="@{https://unpkg.com/vue/dist/vue.js}"></script>
<script xmlns:th="http://www.thymeleaf.org" type="text/javascript" th:src="@{https://unpkg.com/vue-router/dist/vue-router.js}"></script>
<script xmlns:th="http://www.thymeleaf.org" type="text/javascript" th:src="@{/clientStyle/js/main.js}"></script>