<link rel="icon" xmlns:th="http://www.thymeleaf.org" th:href="@{/adminStyle/images/favicon.ico}" type="image/x-icon" />
<!-- Bootstrap CSS -->
<link xmlns:th="http://www.thymeleaf.org" rel="stylesheet" th:href="@{/clientStyle/lib/bootstrap/bootstrap.min.css}">
<link xmlns:th="http://www.thymeleaf.org" rel="stylesheet" th:href="@{/clientStyle/lib/font-awesome/css/font-awesome.min.css}">
<link xmlns:th="http://www.thymeleaf.org" th:href="@{https://fonts.googleapis.com/css?family=Quicksand}" rel="stylesheet">
<link xmlns:th="http://www.thymeleaf.org" rel="stylesheet" th:href="@{/clientStyle/css/style.css}">
<link xmlns:th="http://www.thymeleaf.org" rel="stylesheet" th:href="@{/clientStyle/css/home.css}">
